---  
- name: Enable proxy
  when:  enable_proxy == true
  block:
    - name: Set proxy for apt
      template:
        src: templates/10proxy.j2
        dest: /etc/apt/apt.conf.d/10proxy

    - name: Create directory containerd.service.d
      file:
        path: /etc/systemd/system/containerd.service.d
        state: directory

    - name: Set proxy for containerd
      template:
        src: templates/http-proxy.j2
        dest: /etc/systemd/system/containerd.service.d/http-proxy.conf
    
    - name: Reload systemd
      shell: sudo systemctl daemon-reload
        

- name: Update and install packages
  apt:
    update_cache: true
    cache_valid_time: 432000
    name:
      - nfs-common
      - bash-completion
      - tar
      - python3
      - chrony
      - mc
      - vim
      - git
      - jq
      - conntrack
      - socat
      - net-tools
      - inetutils-ping
      - htop
      
- name: Disable swap file
  shell: |
    swapoff -a
    sed -i 's/\/swap.img/#\/swap.img/' /etc/fstab

- name: Create /etc/modules-load.d/containerd.conf
  shell: |
    cat <<EOF> /etc/modules-load.d/containerd.conf 
    overlay 
    br_netfilter 
    

- name: Enable overlay and br_netfilter kernel modules
  shell: |
    modprobe overlay
    modprobe br_netfilter

- name: Install network rules for kubernetes
  shell: |
    cat <<EOF> /etc/sysctl.d/kubernetes.conf
    net.bridge.bridge-nf-call-iptables = 1
    net.bridge.bridge-nf-call-ip6tables = 1
    net.ipv4.ip_forward = 1
    net.ipv4.ip_nonlocal_bind = 1

- name: Reload sysctl
  shell: sysctl --system


- name: Copy containerd and dependencies to remote host
  block:
  - name: Copy containerd tar-archive to remote host
    copy:
      src: '{{ base_dir }}/containerd/containerd/containerd-{{ containerd_version }}-linux-amd64.tar.gz'
      dest: /tmp

  - name: Copy containerd service file to remote host
    copy:
      src: containerd.service
      dest: /tmp

  - name: Copy cni-plugins to remote host
    copy:
      src: '{{ base_dir }}/containerd/cni-plugins/cni-plugins-linux-amd64-v{{ cni_plugins_version }}.tgz'
      dest: /tmp

  - name: Copy runc to remote host
    copy:
      src: '{{ base_dir }}/containerd/runc/runc-v{{ runc_version }}.amd64'
      dest: /tmp


- name: Install containerd
  shell: >
    tar Cxzvf /usr/local /tmp/containerd-{{ containerd_version }}-linux-amd64.tar.gz;
    mv /tmp/containerd.service /etc/systemd/system/containerd.service;
    systemctl daemon-reload;
    systemctl enable --now containerd;

    mkdir -p /etc/containerd;
    containerd config default | sudo tee /etc/containerd/config.toml > /dev/null 2>&1;
    sed -i 's/SystemdCgroup \= false/SystemdCgroup \= true/g' /etc/containerd/config.toml;

    systemctl restart containerd;

    rm -rf /tmp/containerd-{{ containerd_version }}-linux-amd64.tar.gz;


- name: Install runc
  shell: >
    install -m 755 /tmp/runc-v{{ runc_version }}.amd64 /usr/local/sbin/runc; 
    rm -rf /tmp/runc-v{{ runc_version }}.amd64


- name: Install cni-plugins
  shell: >  
    mkdir -p /opt/cni/bin;
    tar Cxzvf /opt/cni/bin /tmp/cni-plugins-linux-amd64-v{{ cni_plugins_version }}.tgz;
    rm -rf /tmp/cni-plugins-linux-amd64-v{{ cni_plugins_version }}.tgz;


- name: Copy kubeadm, kubelet and kubectl to remote host
  copy:
    src: "{{ item }}"
    dest: /tmp
  with_items:
    - '{{ base_dir }}/{{ k8s_version }}/kubeadm'
    - '{{ base_dir }}/{{ k8s_version }}/kubelet'
    - '{{ base_dir }}/{{ k8s_version }}/kubectl'

- name: Install kubeadm, kubelet and kubectl
  shell: |
    mv /tmp/kubeadm/kubeadm /usr/bin/kubeadm;
    mv /tmp/kubectl /usr/bin/kubectl;
    mv /tmp/kubelet/kubelet /usr/bin/kubelet;
    mv /tmp/kubelet/kubelet.service.txt /etc/systemd/system/kubelet.service;

    mkdir -p /etc/systemd/system/kubelet.service.d;

    chmod 700 /usr/bin/kubeadm;
    chmod 700 /usr/bin/kubelet;
    chmod 700 /usr/bin/kubectl;

    rm -rf /tmp/kubeadm /tmp/kubelet;

  ignore_errors: true

- name: Copy kubelet service config file
  template:
    src: templates/10-kubeadm.j2
    dest: /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
    

- name: Change rights and restart kubelet
  service:
    name: kubelet
    state: started
    enabled: true
    daemon_reload: true




