---
- name: Install haproxy
  block:
    - name: Create haproxy directory
      file:
        path: /var/lib/haproxy
        state: directory
        mode: '0755'

    - name: Create system user
      user:
        name: haproxy
        system: true
        home: /var/lib/haproxy
        shell: /bin/false

    - name: Create pid directory
      file:
        path: /var/run/haproxy
        state: directory
        owner: haproxy
        group: haproxy
        mode: '0755'

    - name: Copy haproxy binary file to remote server
      copy:
        src: haproxy
        dest: /usr/local/sbin
        mode: '0700'
        owner: haproxy
        group: haproxy

    - name: Copy haproxy service file to remote server
      copy:
        src: haproxy.service
        dest: /etc/systemd/system

    - name: Copy haproxy config file
      template:
        src: templates/haproxy.j2
        dest: /var/lib/haproxy/haproxy.cfg
      notify:
        - Restart haproxy


- name: Install keepalived
  block:
    - name: Create system user
      user:
        name: keepalived
        system: true
        shell: /bin/false

    - name: Create keepalived directory
      file:
        path: /etc/keepalived
        state: directory
        owner: keepalived
        group: keepalived
        mode: '0755'

    - name: Copy keepalived binary file to remote server
      copy:
        src: keepalived
        dest: /usr/local/sbin
        owner: keepalived
        group: keepalived
        mode: '0700'

    - name: Copy keepalived service file to remote server
      copy:
        src: keepalived.service
        dest: /etc/systemd/system

    - name: Copy keepalived config file to remote server
      template:
        src: templates/keepalived.j2
        dest: /etc/keepalived/keepalived.conf
      notify:
        - Restart keepalived
    - name: Restart
      service:
        name: keepalived
        state: restarted
